/* mobile-size */
/* mobile-size */
/* mobile-size */
/* mobile-size *//* mobile-size */
/* mobile-size *//* mobile-size */
/* mobile-size *//* mobile-size *//* mobile-size */
/* mobile-size *//* mobile-size *//* mobile-size */
/* mobile-size *//* mobile-size *//* mobile-size *//* mobile-size */
/* mobile-size *//* mobile-size *//* mobile-size *//* mobile-size */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    color: #F2F2F2;;
}



/* stert-header *//* stert-header */
/* stert-header *//* stert-header */
/* stert-header *//* stert-header */

header {
    padding-bottom: 200px;
}


.mobile_header_photo {
    width: 100%;
}
.tablet_header_photo {
    display: none;
}

.tablet_container1_img1 {
    display: none;
}

.tablet_container2_img1 {
    display: none;
}

.tablet_container2_img2 {
    display: none;
}

.header_texts {
    padding-left: 16px;
    padding-right: 16px;
}
.header_texts h1 {
    font-size: 60px;    
    font-weight: 900;
    line-height: 55px;
    color: rgba(21, 21, 21, 1);
    margin-top: 32px;
    margin-bottom: 32px;   
}


h1 {
    font-family: "Big Shoulders Display";
    
}

h2 {
    font-family: "Big Shoulders Display";
}


p {
    font-family: "Outfit";
}






.header_texts p {
    font-size: 18px;
    color: #444444;
    font-weight: 300;
    line-height: 28px;
    margin-bottom: 32px;
}

.header_button {
    background-color: #151515;
    height: 72px;
    width: 204px;
    border: none;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 800;
    line-height: 24px;
    letter-spacing: 3.6px;
    font-family: "Big Shoulders Display";  
}


.arrow_div {
    width: 56px;
    height: 72px;
    background-color: #D5966C;
    justify-content: center;
    align-items: center;
    display: flex;  
}


.link {
    display: flex;
}


a {
    
    text-decoration: none;
}

/* End-header *//* End-header */
/* End-header *//* End-header */



/* main *//* main */
/* main *//* main */
main {
    display: flex;
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
}

.container1_img1 {
    padding-bottom: 25px;
}

.main_text1 h1 {
    font-weight: 900;
    font-size: 50px;
    color: #151515;
    line-height: 45px;
    padding-bottom: 21px;
    
}

.main_text1 p {
    font-size: 300;
    font-size: 18px;
    line-height: 28px;
    color: #444444;
    padding-bottom: 32px;
}   

.container2_img1 {
    padding-bottom: 16px;
}

.container2_img2 {
    padding-bottom: 16px;
}

.main_text2 {
    background-color: #151515;
    height: 293px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 24px;
    margin-bottom: 120px;
}

.main_text2 h1 {
    color: #FFFFFF;
    font-size: 50px;
    font-weight: 900;
    line-height: 45px;
    margin-bottom: 24px;

}

.main_text2 p {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
}

/* End-main *//* End-main */
/* End-main *//* End-main */







/* Start footer *//* Start footer */
/* Start footer *//* Start footer */

footer {
    width: 100%;
    background-color: #151515;
    height: 336px;
    display: flex;
    flex-direction: column;
    padding-left: 32px;
    padding-top: 48px;
    padding-right: 32px;
}

.footer_text {
    color: #FFFFFF;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    margin-top: 38px;
    margin-bottom: 40px;
}


.footer_logos3 {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
}

/* End footer *//* End footer */
/* End footer *//* End footer */


/* location page *//* location page *//* location page *//* location page */
/* location page *//* location page *//* location page *//* location page */
/* location page *//* location page *//* location page *//* location page */



.header2 {
    
    height: 574px;
    display: flex;
    width: 100%;
}
.map {
    width: 100%;
}

.tablet_map {
    display: none;
}
    




.main2 {
    background-color: #151515;
    height: 493px;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 48px;
    width: 100%;
    

}


.main2 h1 {
    color: #FFFFFF;
    font-weight: 900;
    font-size: 50px;
    line-height: 45px;

}

.main2 h2 {
    font-size: 32px;
    font-weight: 900;
    color: #D5966C;
    margin-top: 48px;
    margin-bottom: 20px;

}

.main2 p {
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;

    
}
.address {
    margin-bottom: 20px;
}

.footer2 {
    background-color: #D5966C;
    width: 100%;
    display: flex;
    height: 336px;
    padding-left: 32px;
    padding-top: 48px;
    padding-right: 32px;
    
}



.footer2_text {
    color: #151515;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    margin-top: 38px;
    margin-bottom: 40px;
}
.footer2_logos3 {
    color: #151515;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
    filter: invert(1);
}




/* end of location page *//* end of location page *//* end of location page */
/* end of location page *//* end of location page *//* end of location page */
/* end of location page *//* end of location page *//* end of location page */


















/* Tablet-Size */
/* Tablet-Size */
/* Tablet-Size */
/* Tablet-Size */
/* Tablet-Size *//* Tablet-Size */
/* Tablet-Size *//* Tablet-Size */
/* Tablet-Size *//* Tablet-Size *//* Tablet-Size */
/* Tablet-Size *//* Tablet-Size *//* Tablet-Size */
/* Tablet-Size *//* Tablet-Size *//* Tablet-Size *//* Tablet-Size */
/* Tablet-Size *//* Tablet-Size *//* Tablet-Size *//* Tablet-Size *//* Tablet-Size */

@media (min-width: 768px){

/* Tablet stert-header *//* Tablet stert-header *//* Tablet stert-header */
/* Tablet stert-header *//* Tablet stert-header *//* Tablet stert-header */
/* Tablet stert-header *//* Tablet stert-header *//* Tablet stert-header */
    
header {
    display: flex;
    position: relative;
    flex-direction: row;
    padding-bottom: 120px;

}

.mobile_header_photo {
    display: none;
}

.tablet_header_photo {
    display: inline;

}



.modern_art {
    position: absolute;
    margin-top: 145px;
    margin-left: 389px;
    
    

    
    
    


}

.text2 {
    width: 339px;
}
/* Tablet End-header *//* Tablet End-header *//* Tablet End-header *//* Tablet End-header */
/* Tablet End-header *//* Tablet End-header *//* Tablet End-header *//* Tablet End-header */
/* Tablet End-header *//* Tablet End-header *//* Tablet End-header *//* Tablet End-header */






/* Tablet main *//* Tablet main *//* Tablet main *//* Tablet main */
/* Tablet main *//* Tablet main *//* Tablet main *//* Tablet main */
/* Tablet main *//* Tablet main *//* Tablet main *//* Tablet main */

main {
    padding-left: 39px;
    padding-right: 39px;
    margin-bottom: 120px;
}

.container1_img1 {
    display: none;
}

.tablet_container1_img1 {
    display: inline;
}

.main_container1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 11px;
}
.main_text1 {
    width: 223px;
    margin-top: 40px;
}

.main_text2 {
    line-height: 28px;
    font-size: 18px;
}

.container2_img1 {
    display: none;
}

.tablet_container2_img1 {
    display: inline;
}

.container2_img2 {
    display: none;
}

.tablet_container2_img2 {
    display: inline;
}

.main_container2 {
   display: flex; 
    

}

.main_text2 {
    width: 280px;
    height: 396px;
    padding: 38px;
    margin-top: 11px;
    margin-bottom: 0px;
}

.main_container3 {
    margin-left: 11px;

}

/* Tablet End-main *//* Tablet End-main *//* Tablet End-main *//* Tablet End-main */
/* Tablet End-main *//* Tablet End-main *//* Tablet End-main *//* Tablet End-main */
/* Tablet End-main *//* Tablet End-main *//* Tablet End-main *//* Tablet End-main */




/* Tablet Start footer *//* Tablet Start footer *//* Tablet Start footer */
/* Tablet Start footer *//* Tablet Start footer *//* Tablet Start footer */
/* Tablet Start footer *//* Tablet Start footer *//* Tablet Start footer */
footer {
    height: 216px;
    flex-direction: row;
    padding-left: 39px;
    padding-bottom: 56px;
    padding-top: 56px;
    padding-right: 39px;
    justify-content: space-between
    
}

.footer_text {
    width: 281px;
    margin-top: -10px;
    margin-right:  65px;
      
}


.footer_logo1 {
    height: 40px;
}

.footer_logos3 {
    height: 20px;
    
}
/* Tablet End footer *//* Tablet End footer *//* Tablet End footer */
/* Tablet End footer *//* Tablet End footer *//* Tablet End footer */





/* Tablet location page *//* Tablet location page *//* Tablet location page */
/* Tablet location page *//* Tablet location page *//* Tablet location page */
/* Tablet location page *//* Tablet location page *//* Tablet location page */



/* Tablet header *//* Tablet header */
/* Tablet header *//* Tablet header */
.map {
    display: none;
}

.tablet_map {
    display: inline;
    width: 100%;
    
}
.header2 {
    height: 600px;
    
}
.link {
    margin-left: 39px;
    

}
/* Tablet end header *//* Tablet end header */
/* Tablet end header *//* Tablet end header */



/* Tablet main *//* Tablet main */
/* Tablet main *//* Tablet main */

.main2 {
    height: 436px;
    padding-left: 39px;
    padding-right: 40px;
    padding-top: 88px;
    display: flex;
    gap: 68px;  
   
}


    

}
.main2_long_text {
    width: 398px;
}


.main2_address h2 {
    margin-top: 0px;
}




/* tablet start location footer *//* tablet start location footer */
/* tablet start location footer *//* tablet start location footer */

.footer2 {
    height: 216px;
    display: flex;
    flex-direction: row;

}

.footer2_div {
    display: flex;
    flex-direction: row;
}
.footer2_text {
    width: 281px;
    margin-left: 65px;
    margin-top: -8px;
}

.footer2_logos3 {
    height: 20px;
    margin-left: 133px;
}

/* Tablet end location footer *//* Tablet end location footer */
/* Tablet end location footer *//* Tablet end location footer */
/* Tablet end location footer *//* Tablet end location footer */

